@import url("https://use.typekit.net/fjg3ucw.css");
@import url("https://use.typekit.net/fjg3ucw.css");
@import url("https://use.typekit.net/fjg3ucw.css");

:root {
    --font-family-one: juniper-std, sans-serif;
    --font-family-two: prenton-condensed, sans-serif;
    --font-family-three: prenton, sans-serif;

    --font-color-one: black;
    --font-color-two: white;
}

/*FIRST SEC*/
.title {
    font-family: var(--font-family-one);
    color: var(--font-color-one);
    font-size: 5em;
    line-height: 15vh;
    margin: 0;
    padding: 0;
}

.card-img-top {
    background-color: #D6F2C9;
    width: 100%;
}

.sm-prg {
    font-family: var(--font-family-two);
    color: var(--font-color-one);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.agits {
    background-color: #F2E6DF;
}

.ag {
    background-color: #D6F2C9;
}

.btn-dark {
    border-radius: 0px;
    margin: 0;
}

/*THIRD SEC*/
/*CARDS*/
.card {
    border: 0px;
}
.aka{
    background-color: #A61508;
    border-radius: 20px 0px 20px 0px;
}
.img-boxed{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-boxed>img{
    width: 80%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.footis{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-2{
    font-family: var(--font-family-one);
    color: var(--font-color-two);
    font-size: 2em;
    line-height: 15vh;
    margin: 0;
    padding: 0;
    margin-right: 1em;
}
.paragraph-2{
    font-family: var(--font-family-three);
    color: var(--font-color-two);
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.block-3{
    display: flex;
    flex-direction: row;
    align-items: center;
}