@import url("https://use.typekit.net/fjg3ucw.css");
@import url("https://use.typekit.net/fjg3ucw.css");
@import url("https://use.typekit.net/fjg3ucw.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font-family-one: juniper-std, sans-serif;
    --font-family-two: prenton-condensed, sans-serif;
    --font-family-three: prenton, sans-serif;
    --font-family-four: 'Inter', sans-serif;

    --font-color-one: black;
    --font-color-two: white;
}

/*FIRST SEC*/
.searchis {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.searchis:hover {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.searchis:active {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.searchis:focus {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.title {
    font-family: var(--font-family-one);
    color: var(--font-color-one);
    font-size: 5em;
    line-height: 15vh;
    margin: 0;
    padding: 0;
}


.sm-prg {
    font-family: var(--font-family-two);
    color: var(--font-color-one);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.agits {
    background-color: #F2E6DF;
}

.ag {
    background-color: #D6F2C9;
}

.btn-dark {
    border-radius: 0px;
    margin: 0;
}

/*THIRD SEC*/
/*CARDS*/
.promo-img {
    width: 100%;
    background-image: url(./Assets/PRODUCTS/chair-grey.png);
}

.sellit {
    color: black;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.sellit:hover {
    color: #F27405;
}

.card-img-top:hover {
    background-color: #F27405;
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.13);
}

.btn-2 {
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.btn-2:hover {
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.13);
}

.card-img-top:active {
    -webkit-box-shadow: inset 0px 0px 16px 5px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: inset 0px 0px 16px 5px rgba(0, 0, 0, 0.28);
    box-shadow: inset 0px 0px 16px 5px rgba(0, 0, 0, 0.28);
}

.card-img-top {
    background-color: #D6F2C9;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 3px;
}

.card {
    border: 0px;
}

.card:hover>.paragraph-3 {
    color: #666565;
    font-family: var(--font-family-two);
    font-size: 1em;
    font-weight: 500;
}

.aka {
    background-color: #A61508;
    border-radius: 20px 0px 20px 0px;
}

.img-boxed {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-boxed>img {
    width: 80%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.footis {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footers {
    background-color: rgb(27, 25, 25);
}

.title-2 {
    font-family: var(--font-family-one);
    color: var(--font-color-two);
    font-size: 2em;
    line-height: 15vh;
    margin: 0;
    padding: 0;
    margin-right: 1em;
}

.logobox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logobox>img {
    width: 53.33%;
}

ul {
    list-style-type: none;
}

.ft-links {
    color: #cec6c6;
    font-family: var(--font-family-three);
}

.ft-links:hover {
    text-decoration: none;
    color: white;
}

.paragraph-2 {
    font-family: var(--font-family-three);
    color: var(--font-color-two);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.block-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-body {
    padding: 0 !important;
}

.boxedis {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
}

.boxed-2 {
    display: felx;
    flex-direction: column;
    justify-content: center;
}

.boxed-chld-3 {
    display: flex;
    flex-direction: row;
}

.boxed-chld-3>a {
    width: 26px;
    padding: 5px;
}

.ft-h1 {
    font-family: var(--font-family-three);
    font-size: 1em;
    color: white;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    display: flex;
}

#footer-nav-link {
    text-align: left;
    color: white;
    font-family: var(--font-family-three);
    font-size: 1em;
    padding-bottom: 15px !important;
    padding: 0;
    margin: 0;
    width: 100%;
}

.boxed-chld-2 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: var(--font-family-three);
    font-size: 1em;
    padding-bottom: 15px !important;
    padding: 0;
    margin: 0;
}

.img-leftis {
    background-color: #F27405;
    display: flex;
    border-radius: 10px 0px 0px 10px;
    width: 50%;
}

.img-leftis>img {
    width: 100%;
}

.modal-content {
    border-radius: 10px !important;
    border: 0px;
}

.modal {
    text-align: center;
}

.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
    border: 0px !important;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border: 0px !important;

    -webkit-box-shadow: 0px 0px 42px 2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 0px 42px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 42px 2px rgba(0, 0, 0, 0.27);
}

.content-right {
    width: 50%;
    padding: 2.5em;
    text-align: center;
}

.content-right>h1 {
    font-family: var(--font-family-three);
    font-size: 2em;
    font-weight: 100;
    color: #000000;
}

.content-right>p {
    font-family: var(--font-family-two);
    font-size: 1em;
    font-weight: 100;
    color: #666565;
}

.iconis {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.set-icon {
    display: flex;
    flex-direction: row;
    margin: 0 15px 0px 15px;
    padding: 0;
}

.set-icon>p {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-four);
    font-weight: 900;
    font-size: 0.9em;
}

.set-icon>img {
    width: 15px;
    margin-right: 5px;
}

/*MODAL*/
@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .boxedis {
        flex-direction: column;
    }

    .img-leftis {
        width: auto !important;
    }

    .content-right {
        width: auto !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .boxedis {
        flex-direction: column;
    }

    .img-leftis {
        width: auto !important;
    }

    .content-right {
        width: auto !important;
    }
}

@media (min-width: 319px) and (max-width:575.98px) {
    .boxedis {
        flex-direction: column;
    }

    .img-leftis {
        width: auto !important;
    }

    .content-right {
        width: auto !important;
    }
}